# my ignores foir data
data/

volumes/

.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python
build/
dist/
downloads/

# Flask stuff:
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.env
env/
ENV/
